body {
    width: 100%;
    background-color: #fbfbf2;
}


#main {
    max-width: 100%;
    overflow: hidden;
    height: 100vh !important;
}
#navbar {
    background-color: #FBFBF2 !important;
    z-index: 5;
}

#navbarham {
    height: max-content !important; 
    overflow: hidden; 
    background-color: #FBFBF2 !important; 
    z-index: 3;
}

#navbar a:hover {
    letter-spacing: 3px;
    background-color: #80d8b3 !important;
}

#navbarham a:hover {
    letter-spacing: 3px;
}

#name {
    margin-right: -15px;
}

#show {
    box-shadow: -71px -2px 510px 200px rgba(255,136,136,1);
   animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1500ms;
    z-index: 0;
}

#hide {
    margin-right: 16px;
}

#about-box {
    z-index: 1;
}

#about-me {
    background-color:gray;
    z-index: 0 !important;
    /*
    box-shadow: 3px 2px 120px 20px rgb(255 136 136);
    animation: shadow-1 15s 1500ms infinite;
    transition: ease;
    */}

#selected-works h4, h2, h5 {
    color: #f78da7;
    letter-spacing: 1px;
    font-weight: 400;
}



#cutup h3 {
    color: #f78da7;
    letter-spacing: 1px;
    font-weight: 400;
}
#cutup p {
    height: 55vh;
    overflow-y: scroll;
    text-align: justify;
    opacity: 0.5;
}
#cutup p:hover {
    opacity: 1;
}

#show:hover {
    letter-spacing: 3px;
}

.overline {
    text-decoration: line-through;
}
.logo {
    height: 36px;
    width: auto;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: gray;
    
  }

  .pdf {
    width: 95%;
    height:70vh !important;
  }

@keyframes shadow {
    0% {
        box-shadow: -71px -2px 510px 200px rgba(255,136,136,1);
    }

    25% {
        box-shadow: -81px -2px 610px 200px rgba(155,136,136,1);;
    }

    50% {
        box-shadow: -91px -2px 710px 200px rgba(55,136,136,1);
    }

    75% {
        box-shadow: -81px -2px 610px 200px rgba(155,136,136,1);
    }

    100% {
        box-shadow: -71px -2px 510px 200px rgba(255,136,136,1);
    }

}
/*
@keyframes shadow-1 {
    0½ {
        box-shadow: 3px 2px 120px 20px rgb(255 136 136);
    }

    25½ {
        box-shadow: 3px 2px 120px 20px rgb(155 136 136);
    }

    50% {
        box-shadow: 3px 2px 120px 20px rgb(55 136 136);
    }

    75% {
        box-shadow: 3px 2px 120px 20px rgb(155 136 136);
    }

    100% {
        box-shadow: 3px 2px 120px 20px rgb(255 136 136);
    }

}
*/
@media only screen and (max-width: 600px) {
    #main-img {
       height: 100%;       
       overflow-x: hidden;
    }

    #navbar {
      position: absolute;
    }

    #page-title h3 {
        font-size: 16px;
    }

    #page-title name {
        width: 60px;
    }
    p {
        font-size: small;
    }

    #about-me {
        width: 85vw;
        padding-top: 12px !important;
    }
    #about-me p{
        width: 85vw !important;
      
    }

    #selected {
        height: 100vh;
        overflow-y: scroll;
    }
    #cutup p {
        opacity: 1;
    }
    #contact-card {
        width: 80vw !important;
    }
    .pdf {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    #main-img {
    width: 100%;
    }

    .pdf-link {
        display:none;
    }
}

* {
    transition: ease 350ms !important;
    
    scroll-behavior: smooth;
}
/*
.tabs-button {
    color: #80d8b3 !important;
}*/
